<p id="notice"><%= notice %></p>

<h4>Routes</h4>

<table>
  <thead>
    <tr>
      <th class="col s3">Name</th>
      <th class="col s3">Distance</th>
      <th class="col s6">Actions</th>
    </tr>
  </thead>

  <tbody>
    <h7><%= "Empty" if @routes.empty? %></h7>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= route.distance%></td>
        <td><%= link_to 'Show', route %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
        <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col s8">
    <a
      class="waves-effect waves-light btn"
      href="<%= root_path%>"
      data-role="button"
      data-icon="info"
      data-mini="true">
      <i class="material-icons left">home</i>
      Home
    </a>
  </div>
  <div class="col s3">
    <a
      class="waves-effect waves-light btn"
      href="<%= new_route_path%>"
      data-role="button"
      data-icon="info"
      data-mini="true">
      <i class="material-icons left">add</i>
      Add Route
    </a>
  </div>
</div>