<%= form_with(model: vehicle) do |form| %>
  <%= form.label :identifier %>
  <%= form.text_field :identifier %>

  <%= form.label "fuel consumption (km/l)"%>
  <%= form.number_field :fuel_consumption %>

  <%= form.label :curren_city %>
  <%= form.collection_select(:city_ids, City.all, :id, :name, {}, { class: "browser-default"} ) %>

  <p>
    <label>
      <%= form.check_box :is_available, id:"is_available" %>
      <span>Is Available?</span>
    </label>
  </p>

  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h5>
      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>
