<%= form_with(model: vehicle) do |form| %>
  <%= form.label :identifier %>
  <%= form.text_field :identifier %>

  <%= form.label "fuel consumption (km/l)"%>
  <%= form.number_field :fuel_consumption %>

  <%= form.label :is_available %>
  <%= form.check_box :is_available %>

  <%= form.label :cities %>
  <%= collection_select(:vehicle, :cities_id, City.all, :id, :name) %>

  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
