<%= form_with(model: city) do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <% if city.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h5>

      <ul>
        <% city.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

<% end %>
