<p id="notice"><%= notice %></p>

<h4>Cities</h4>

<table class="highlight responsive-table">
  <thead>
    <tr>
      <th class="col s7">Name</th>
      <th class="col s5">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= link_to 'Show', city, class: "waves-effect waves-light btn-small" %></td>
        <td><%= link_to 'Edit', edit_city_path(city), class: "waves-effect waves-light btn-small" %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light red lighten-1  btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col s8">
    <a
      class="waves-effect waves-light btn"
      href="<%= root_path%>"
      data-role="button"
      data-icon="info"
      data-mini="true">
      <i class="material-icons left">home</i>
      Home
    </a>
  </div>
  <div class="col s3">
    <a
      class="waves-effect waves-light btn"
      href="<%= new_city_path%>"
      data-role="button"
      data-icon="info"
      data-mini="true">
      <i class="material-icons left">add</i>
      Add City
    </a>
  </div>
</div>
